<div data-options="dxView : { name: 'home' }">
    <div data-options="dxContent : { targetPlaceholder: 'content' }">
        <div data-bind="dxToolbar: { items: [ { align: 'center', text: 'Статус доставки' } ] }"></div>
  <div style="clear:both; height:auto; text-align:center; margin-top:20px;">
                    <img src="Resources/unikom.png" />
                </div>

        <div class="dx-fieldset top-fieldset">            
            <div class="dx-field">
                <div class="dx-field-label" >Номер накладной:</div>                
                <div class="dx-field-value"  data-bind="dxNumberBox: { value: billTotal, placeholder: 'Номер...', valueUpdateEvent: 'keyup', min: 0 }"></div>
            </div>
			<div class="dx-field" data-bind="visible:hasStatus">
			 <div class="dx-field-label">Статус доставки:</div> 
			 <div class="dx-field-value" data-bind="text:status"></div>
			</div>
        </div>
        
        <div class="round-buttons">
            <div data-bind="dxButton: { text: 'Проверить', clickAction: checkStatus }"></div>
            
        </div>

          
    </div>
	<div data-bind="dxLoadPanel: { message: 'Загрузка...', visible: loading }"></div>
</div>


